---
import Layout from '../../layouts/Layout.astro';
import {publishedBlogPosts} from '../../data/publishedBlogPosts';
import HeroSection from '../../components/HeroSection.astro';
import PostTagsList from '../../components/PostTagsList.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import PostFeaturedImg from '../../components/PostFeaturedImg.astro';

export async function getStaticPaths() {
	const blogPosts = publishedBlogPosts;
	return blogPosts.map(post => ({
		params: {slug: post.slug},
		props: {post}
	}));
}
const {post} = Astro.props;
const {Content} = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<main class="post" id="main">
		<article>
			<HeroSection>
				<h1 {...post.data.draft && {'data-draft': true}}>{post.data.title}</h1>
				{
					post.data.description && (
						<p class="post-description text-step-1 leading-snug">
							{post.data.description}
						</p>
					)
				}
				<p class="post-pubdate text-step-00 tracking-wide">
					<span class="visually-hidden">Published on</span>
					<FormattedDate date={post.data.pubDate} />
				</p>
			</HeroSection>
			{
				post.data.featuredImg && (
					<PostFeaturedImg
						imagePath={`/src/content/blog/${post.slug}/${post.data.featuredImg.url}`}
						caption={post.data.featuredImg.caption}
					/>
				)
			}

			<div class="region wrapper">
				<div class="post-body prose flow">
					<Content />
					<div
						class="post-tag-list-wrapper text-step-00 tracking-wide flow-space-m"
					>
						<PostTagsList postTags={post.data.tags} />
					</div>
				</div>
			</div>
		</article>
	</main>
</Layout>
