---
import Layout from '../../layouts/Layout.astro';
import {publishedBlogPosts} from '../../data/publishedBlogPosts';
import HeroSection from '../../components/HeroSection.astro';
import PostTagsList from '../../components/PostTagsList.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const blogPosts = publishedBlogPosts;
	return blogPosts.map(post => ({
		params: {slug: post.slug},
		props: {post}
	}));
}
const {post} = Astro.props;
const {Content} = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<main class="post" id="main">
		<article>
			<HeroSection>
				<h1 {...post.data.draft && {'data-draft': true}}>{post.data.title}</h1>
				{
					post.data.description && (
						<p class="text-step-1 leading-snug flow-space-xs text-balance">
							{post.data.description}
						</p>
					)
				}
				<PostTagsList postTags={post.data.tags} />
				<p class="text-step-00 tracking-wide flow-space-2xs">
					Published on
					<FormattedDate date={post.data.pubDate} />
				</p>
			</HeroSection>
			<div class="region wrapper">
				<div class="post-body prose flow">
					<Content />
				</div>
			</div>
		</article>
	</main>
</Layout>
