---
import Layout from '../../layouts/Layout.astro';
import {publishedBlogPosts} from '../../data/publishedBlogPosts';
import HeroSection from '../../components/HeroSection.astro';
import PostTagsList from '../../components/PostTagsList.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import PostFeaturedImg from '../../components/PostFeaturedImg.astro';
import PostReply from '../../components/PostReply.astro';

export async function getStaticPaths() {
	const blogPosts = publishedBlogPosts;
	return blogPosts.map(post => ({
		params: {slug: post.slug},
		props: {post}
	}));
}
const {post} = Astro.props;
const {Content} = await post.render();
const hasCodePenDemo = post.data.tags.includes('code-pen');
---

<Layout title={post.data.title} description={post.data.summary}>
	{
		hasCodePenDemo && (
			<script is:inline type="module" src="/scripts/code-pen.js" />
		)
	}
	<main class="post" id="main">
		<article>
			<HeroSection>
				<h1 data-draft={post.data.draft}>{post.data.title}</h1>
				{
					!!post.data.summary && (
						<p class="summary text-step-1 leading-snug">{post.data.summary}</p>
					)
				}
				<p class="pubdate small-text">
					<span class="visually-hidden">Published on</span>
					<FormattedDate date={post.data.pubDate} />
				</p>
			</HeroSection>
			{
				!!post.data.featuredImg && (
					<PostFeaturedImg
						imagePath={`/src/content/blog/${post.slug}/${post.data.featuredImg.url}`}
						caption={post.data.featuredImg.caption}
					/>
				)
			}
			<div class="flow region wrapper">
				<heading-anchors class="post-body prose flow">
					<Content />
				</heading-anchors>
				<footer class="post-footer flow flow-space-l">
					<PostTagsList postTags={post.data.tags} />
					<PostReply />
				</footer>
			</div>
		</article>
	</main>
</Layout>

<script>
	/* 
	<heading-anchors>
	A Web Component to add anchor links to headings with IDs.
	https://github.com/daviddarnes/heading-anchors
	*/
	// @ts-nocheck

	class HeadingAnchors extends HTMLElement {
		static register(tagName) {
			if ('customElements' in window) {
				customElements.define(tagName || 'heading-anchors', HeadingAnchors);
			}
		}

		connectedCallback() {
			this.headings.forEach(heading => {
				heading.append(this.anchor(heading));
				heading.setAttribute('tabindex', '-1');
			});
		}

		anchor(heading) {
			let anchor = document.createElement('a');
			anchor.href = `#${heading.id}`;
			anchor.innerHTML = '#';
			anchor.setAttribute(
				'aria-label',
				`Jump link to '${heading.textContent}'`
			);
			return anchor;
		}

		get headings() {
			return this.querySelectorAll('h2[id], h3[id]');
		}
	}

	HeadingAnchors.register();
</script>
