---
import Layout from '../../layouts/Layout.astro';
import {publishedBlogPosts} from '../../data/publishedBlogPosts';
import HeroSection from '../../components/HeroSection.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import DraftSticker from '../../components/DraftSticker.astro';

export async function getStaticPaths() {
	const blogPosts = publishedBlogPosts;
	return blogPosts.map(post => ({
		params: {slug: post.slug},
		props: {post}
	}));
}
const {post} = Astro.props;
const {Content} = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<main class="post" id="main">
		<article>
			<HeroSection>
				<h1>{post.data.title}</h1>
				<p>{post.data.description}</p>
				<FormattedDate date={post.data.pubDate} />
				{post.data.draft && <DraftSticker />}
			</HeroSection>
			<div class="region">
				<div class="post-body prose flow wrapper">
					<Content />
					<hr class="flow-space-l-xl" />
					<p class="post-tag-list flow-space-l-xl">
						Tagged:
						{
							post.data.tags.map(tag => {
								return (
									<>
										<a href={`/tags/${tag}`}>{tag}</a>
									</>
								);
							})
						}
					</p>
				</div>
			</div>
		</article>
	</main>
</Layout>
