---
import Layout from '../../layouts/Layout.astro';
import {publishedBlogPosts} from '../../data/publishedBlogPosts';
import HeroSection from '../../components/HeroSection.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const blogPosts = publishedBlogPosts;
	return blogPosts.map(post => ({
		params: {slug: post.slug},
		props: {post}
	}));
}
const {post} = Astro.props;
const {Content} = await post.render();
---

<Layout
	title={post.data.title}
	description={post.data.description}
	{...post.data.draft && {themeColor: '#990000'}}
>
	<main class="post" id="main">
		<article
			{...post.data.draft && {
				style: {'--color-bg-inverted-1': 'var(--color-draft-inverted)'}
			}}
		>
			<HeroSection>
				<h1>{post.data.title}</h1>
				<p>{post.data.description}</p>
				<FormattedDate date={post.data.pubDate} />
			</HeroSection>
			<div class="region">
				<div class="post-body prose flow wrapper">
					<Content />
					<!-- <hr class="flow-space-l-xl" /> -->
					<p class="post-tag-list flow-space-l-xl">
						Tagged:
						{
							post.data.tags.map(tag => {
								return (
									<>
										<a href={`/tags/${tag}`}>{tag}</a>
									</>
								);
							})
						}
					</p>
				</div>
			</div>
		</article>
	</main>
</Layout>
