---
import Layout from '../../layouts/Layout.astro';
import HeroSection from '../../components/HeroSection.astro';
import PostList from '../../components/PostList.astro';
import {uniqueTags} from '../../data/uniqueTags.js';
import {reversedBlogPosts} from '../../data/reversedBlogPosts.js';

export async function getStaticPaths() {
	return uniqueTags.map(tag => {
		const filteredPosts = reversedBlogPosts.filter(entry =>
			entry.data.tags.includes(tag)
		);
		return {
			params: {tag},
			props: {filteredPosts}
		};
	});
}

const {tag} = Astro.params;
const {filteredPosts} = Astro.props;
const filteredPostsCount = `${filteredPosts.length} ${filteredPosts.length > 1 ? 'posts' : 'post'}`;
const pageTitle = `Tag: ${tag}`;
const pageDesc = `Explore ${filteredPostsCount} tagged '${tag}'`;
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main" tabindex="-1">
		<HeroSection>
			<h1>
				{pageTitle}
			</h1>
			<p class="text-balance flow-space-xs">
				{pageDesc}. Alternatively, you can view all the tags on the
				<a href="/tags/">Tag Index</a> page.
			</p>
		</HeroSection>
		<div class="flow flow-space-l region wrapper">
			<PostList postsCollection={filteredPosts} />
		</div>
	</main>
</Layout>
