---
import Layout from '../../layouts/Layout.astro';
import HeroSection from '../../components/HeroSection.astro';
import PostList from '../../components/PostList.astro';
import {uniqueTags} from '../../data/uniqueTags.js';
import {reversedBlogPosts} from '../../data/reversedBlogPosts.js';
import Eyebrow from '../../components/Eyebrow.astro';

export async function getStaticPaths() {
	return uniqueTags.map(tag => {
		const filteredPosts = reversedBlogPosts.filter(entry =>
			entry.data.tags.includes(tag)
		);
		return {
			params: {tag},
			props: {filteredPosts}
		};
	});
}

const {tag} = Astro.params;
const {filteredPosts} = Astro.props;
const filteredPostsCount = `${filteredPosts.length} ${filteredPosts.length > 1 ? 'posts' : 'post'}`;
const pageTitle = `Tag: ${tag}`;
const pageDesc = `Explore ${filteredPostsCount} tagged '${tag}'.`;
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main">
		<HeroSection>
			<h1>
				{pageTitle}
			</h1>
			<p class="text-balance flow-space-xs">
				Alternatively, you can <a href="/tags/">view all tags</a>
			</p>
		</HeroSection>
		<div class="flow flow-space-l region wrapper">
			<Eyebrow>{filteredPostsCount}</Eyebrow>
			<PostList postsCollection={filteredPosts} />
		</div>
	</main>
</Layout>
