---
import Layout from '../../layouts/Layout.astro';
import {findMatchingItem} from '../../utils/findMatchingItem.js';
import pageData from '../../data/pages.json';
import HeroSection from '../../components/HeroSection.astro';
import Eyebrow from '../../components/Eyebrow.astro';
import {uniqueTags} from '../../data/uniqueTags.js';

const pageInfo = findMatchingItem(Astro.url.pathname, pageData);
const pageTitle = pageInfo.title;
const pageDesc = pageInfo.description;
const sortedTags = uniqueTags.sort();
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main">
		<HeroSection>
			<h1>{pageTitle}</h1>
			<p class="text-balance flow-space-xs">{pageDesc}</p>
		</HeroSection>
		<div class="flow region wrapper">
			<Eyebrow>→ Sorted Alphabetically</Eyebrow>
			<ul class="tags-list grid flow-space-l">
				{
					sortedTags.map(tag => (
						<li>
							<a href={`/tags/${tag}/`}>{tag}</a>
						</li>
					))
				}
			</ul>
		</div>
	</main>
</Layout>

<style is:global>
	.tags-list {
		--grid-min-item-size: 12rem;
		--gutter: var(--space-2xs) var(--space-xl);
	}
</style>
