---
import Layout from '../layouts/Layout.astro';
import {findMatchingItem} from '../utils/findMatchingItem.js';
import pageData from '../data/pages.json';
import HeroSection from '../components/HeroSection.astro';
import {getCollection} from 'astro:content';
import BookCover from '../components/BookCover.astro';

const pageInfo = findMatchingItem(Astro.url.pathname, pageData);
const pageTitle = pageInfo.title;
const pageDesc = pageInfo.description;
const bookList = await getCollection('books');
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main">
		<HeroSection>
			<h1>{pageTitle}</h1>
			<p class="text-balance flow-space-xs">{pageDesc}</p>
		</HeroSection>
		<div class="flow region wrapper">
			<ul class="book-list grid" role="list">
				{
					bookList.map((book, index) => {
						let loadingValue: 'eager' | 'lazy';
						if (index < 12) {
							loadingValue = 'eager';
						} else {
							loadingValue = 'lazy';
						}
						return (
							<li>
								<BookCover
									imagePath={`/src/images/book-covers/${book.data.bookCover}`}
									loading={loadingValue}
								/>
								<div class="flow flow-space-4xs">
									<p class="text-step-00 tracking-wide leading-snug text-color-2 font-medium text-balance">
										{book.data.title}
									</p>
									{book.data.subtitle && (
										<p class="visually-hidden">{book.data.subtitle}</p>
									)}
									<p class="text-step-00 tracking-wide leading-snug text-color-3 text-balance">
										{book.data.author}
									</p>
								</div>
							</li>
						);
					})
				}
			</ul>
		</div>
	</main>
</Layout>
