---
import Layout from '../layouts/Layout.astro';
import {findMatchingItem} from '../utils/findMatchingItem.js';
import pageData from '../data/pages.json';
import HeroSection from '../components/HeroSection.astro';
import {getCollection} from 'astro:content';

const pageInfo = findMatchingItem(Astro.url.pathname, pageData);
const pageTitle = pageInfo.title;
const pageDesc = pageInfo.description;
const allDesignPrinciples = await getCollection('designPrinciples', ({data}) => {
	if (import.meta.env.PROD) {
		return data.draft !== true;
	} else {
		return data;
	}
});
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main">
		<HeroSection>
			<h1>{pageTitle}</h1>
			<p class="text-balance flow-space-xs">{pageDesc}</p>
		</HeroSection>
		<article class="flow region region-space-m-l wrapper">
			<dl class="design-principles-list grid" role="list">
				{
					allDesignPrinciples.map(async entry => {
						const {Content} = await entry.render();
						const origin = entry.data.origin;
						const authorData = entry.data.author;

						return (
							<div class="principle-entry grid">
								<dt class="text-balance">
									<a
										class="heading-4 text-color-2"
										href={entry.data.url}
										{...(entry.data.draft && {'data-draft': true})}
									>
										{entry.data.title}
									</a>
								</dt>
								<dd class="principle-description text-pretty">
									{entry.data.description}
								</dd>
								<dd class="principle-content flow flow-space-xs">
									<Content />
									{(origin || authorData) && (
										<cite class="block text-step-000 leading-snug tracking-wider uppercase text-balance">
											{origin && (
												<>
													<span class="visually-hidden">Published in</span> {origin}
												</>
											)}
											{origin && authorData && ' by'}
											{authorData &&
												authorData.map((item, index) => {
													if (index + 1 < authorData.length) {
														return `${item}, `;
													} else {
														return `${item}`;
													}
												})}
										</cite>
									)}
								</dd>
							</div>
						);
					})
				}
			</dl>
		</article>
	</main>
</Layout>
