---
import Layout from '../layouts/Layout.astro';
import {findMatchingItem} from '../utils/findMatchingItem.js';
import pageData from '../data/pages.json';
import HeroSection from '../components/HeroSection.astro';
import ProjectsShowcase from '../components/ProjectsShowcase.astro';
import PostList from '../components/PostList.astro';
import {reversedBlogPosts} from '../data/reversedBlogPosts.js';

const pageInfo = findMatchingItem(Astro.url.pathname, pageData);
const pageTitle = pageInfo.title;
const pageDesc = pageInfo.description;
const hindiTranslation = 'अर्पित अग्रवाल';
const urduTranslation = 'اَرپِت اگروال';
const displayedPosts = reversedBlogPosts.slice(0, 4);
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main">
		<HeroSection>
			<div class="homepage-heading stack">
				<h1>{pageTitle}</h1>
				<p
					class="translations cluster text-step-000 leading-snug tracking-wider"
					aria-hidden="true"
				>
					<span lang="hi">{hindiTranslation}</span>
					<span>/</span>
					<span lang="ur" dir="rtl">{urduTranslation}</span>
				</p>
			</div>
			<p class="intro text-step-1 leading-snug text-balance flow-space-xs">
				{pageDesc}
			</p>
			<p class="flow-space-xs">
				You can reach me at
				<a href="mailto:hello@arpit.codes">hello@arpit.codes</a>
			</p>
		</HeroSection>
		<article id="projects" class="flow region">
			<div class="flow relative wrapper">
				<h2 class="heading-3 leading-flat">{pageData[2].title}</h2>
				<p class="text-balance flow-space-xs">
					{pageData[2].description}
				</p>
			</div>
			<ProjectsShowcase />
		</article>
		<article class="region wrapper">
			<PostList postsCollection={displayedPosts}>
				<div class="homepage-post-list-header repel">
					<h2 class="heading-3 leading-flat">Latest Posts</h2>
					<a
						class="text-step-00 tracking-wide text-color-2 font-medium"
						href="/blog/"
					>
						View All <span class="visually-hidden">posts</span>
					</a>
				</div>
			</PostList>
		</article>
	</main>
</Layout>
