---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import CircleVector from '../components/CircleVector.astro';
import ProjectsShowcase from '../components/ProjectsShowcase.astro';

const pageTitle = 'Arpit Agrawal';
const pageDesc =
	"Hi, I'm a web designer-developer from India. I design and build websites that are fast, user-friendly and beautiful.";
const hindiTranslation = 'अर्पित अग्रवाल';
const urduTranslation = 'اَرپِت اگروال';
const projectsTitle = 'Projects';
const projectsDescription =
	'Browse a selection of my past projects, showcasing my web design and development capabilities';
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main" tabindex="-1">
		<HeroSection>
			<div class="homepage-heading stack">
				<h1>{pageTitle}</h1>
				<p class="translations cluster" aria-hidden="true">
					<span lang="hi">{hindiTranslation}</span>
					<span class="text-color-inverted-3">•</span>
					<span lang="ur" dir="rtl">{urduTranslation}</span>
				</p>
			</div>
			<p class="intro text-step-1 leading-snug text-balance flow-space-xs">
				{pageDesc}
			</p>
			<p class="flow-space-xs">
				You can reach me at
				<a href="mailto:hello@arpit.codes" class="hero-email">
					<span>hello@arpit.codes</span>
					<CircleVector />
				</a>.
			</p>
		</HeroSection>
		<article id="about-me" class="flow region" tabindex="-1">
			<div
				class="flow wrapper"
				style="column-width: 35ch; column-gap: var(--space-l)"
			>
				<h2
					class="heading-3 leading-flat"
					style="column-span: all; margin-block-end: 1rem;"
				>
					About Me
				</h2>
				<p class="text-balance flow-space-xs" style="--flow-space: 0px;">
					I'm a self-taught web designer-developer. I believe the web is for
					everyone. So, I strive to make websites that are inclusive and
					accessible to everyone, regardless of their ability, device or
					connection speed.
				</p>
				<p>
					I started out in 2019 after watching my cousin build a website. He'd
					type out these strange incantations and the computer would obey. It
					felt magical. I love that I get to design and build, that’s where I
					feel most at home.
				</p>
			</div>
		</article>
		<article id="projects" class="flow region" tabindex="-1">
			<div class="flow relative wrapper">
				<h2 class="heading-3 leading-flat">{projectsTitle}</h2>
				<p class="text-balance flow-space-xs">
					{projectsDescription}
				</p>
			</div>
			<ProjectsShowcase />
		</article>
		<!-- <article id="latest-posts" class="region wrapper" tabindex="-1">
			<PostList postsCollection={displayedPosts}>
				<div class="list-header cluster">
					<h2 class="heading-3 leading-flat">Latest Posts</h2>
					<a class="small-text font-medium" href="/blog/">
						View All <span class="visually-hidden">posts</span>
					</a>
				</div>
			</PostList>
		</article> -->
	</main>
</Layout>
