---
import Layout from '../layouts/Layout.astro';
import {findMatchingItem} from '../utils/findMatchingItem.js';
import pageData from '../data/pages.json';
import HeroSection from '../components/HeroSection.astro';
import projects from '../data/projects.json';
import ProjectMockup from '../components/ProjectMockup.astro';

const pageInfo = findMatchingItem(Astro.url.pathname, pageData);
const pageTitle = pageInfo.title;
const pageDesc = pageInfo.description;
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main">
		<HeroSection>
			<h1>{pageTitle}</h1>
			<p class="text-balance flow-space-xs">{pageDesc}</p>
		</HeroSection>
		<article class="flow region wrapper">
			<ul class="project-list grid" data-layout="halves" role="list">
				{
					projects.map((project, index) => {
						let loadingValue: 'eager' | 'lazy';
						if (index < 4) {
							loadingValue = 'eager';
						} else {
							loadingValue = 'lazy';
						}
						return (
							<li class="project-item relative flow flow-space-xs">
								<div class="project-title repel">
									<h2 class="heading-4">{project.title}</h2>
									<a 
										class="project-link text-step-00 tracking-wide text-color-2" 
										href={project.url}
									>
										<span>Visit</span>
										<span>website</span>
										<span class="visually-hidden">of {project.title}</span>
									</a>
								</div>
								<ProjectMockup
									imagePath={`/src/images/projects/${project.image}`}
									alt=`Mockup of ${project.title}'s website displayed on an iPad Pro and an iPhone.`
									loading={loadingValue}
								/>
							</li>
						);
					})
				}
			</ul>
		</article>
	</main>
</Layout>
