---
import Layout from '../layouts/Layout.astro';
import {findMatchingItem} from '../utils/findMatchingItem.js';
import pageData from '../data/pages.json';
import HeroSection from '../components/HeroSection.astro';
import projects from '../data/projects.json';

const pageInfo = findMatchingItem(Astro.url.pathname, pageData);
const pageTitle = pageInfo.title;
const pageDesc = pageInfo.description;
---

<Layout title={pageTitle} description={pageDesc}>
	<main id="main">
		<HeroSection>
			<h1>{pageTitle}</h1>
			<p class="text-balance flow-space-xs">{pageDesc}</p>
		</HeroSection>
		<article class="flow region wrapper">
			<p class="font-medium leading-flat">🚧 Work in Progress 🚧</p>
			<p class="text-balance">
				I'm currently working on enhancing this page to provide a better experience. In
				the meantime, here's a list of links to some of my recent work:
			</p>
			<ul class="project-list flow">
				{
					projects.map(entry => {
						return (
							<li>
								<a href={entry.url}>{entry.label}</a>
							</li>
						);
					})
				}
			</ul>
		</article>
	</main>
</Layout>

<style is:global>
	.project-list li {
		--flow-space: var(--space-xs);
	}
</style>
