---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import questions from '../data/questionnaire.json';

const pageTitle = 'Questionnaire';
const pageDesc =
	'A questionnaire designed to help me understand your requirements, ensuring a smooth and tailored process.';
const questionsList = questions.list;
const acknowledgment = questions.acknowledgement;
---

<Layout title={pageTitle} description={pageDesc}>
	<main class="content-page" id="main" tabindex="-1">
		<HeroSection>
			<h1>{pageTitle}</h1>
			<p class="text-balance flow-space-xs">{pageDesc}</p>
		</HeroSection>
		<article class="questionnaire-wrapper grid region wrapper">
			<ul class="flow flow-space-s" role="list">
				{
					questionsList.map(question => {
						return (
							<li class="content-entry">
								<span>{question}</span>
							</li>
						);
					})
				}
			</ul>
			<div class="acknowledgment">
				<h2 class="visually-hidden">Acknowledgement</h2>
				<p class="small-text text-balance">
					Special thanks to
					<a href={acknowledgment[0].url}>{acknowledgment[0].label}</a>,
					<a href={acknowledgment[1].url}>{acknowledgment[1].label}</a>, and
					<a href={acknowledgment[2].url}>{acknowledgment[2].label}</a>. I
					created my questionnaire by borrowing and adapting questions from
					their questionnaires.
				</p>
			</div>
		</article>
	</main>
</Layout>
