---
interface Props {
	postTags: string[];
}

const {postTags} = Astro.props;
const hasManyTags = postTags.length > 3;
---

{
	hasManyTags ? (
		<details class="post-tag-list flow flow-space-2xs">
			<summary>
				Tagged: {postTags.slice(0, 2).join(', ')} and {postTags.length - 2}{' '}
				others
			</summary>
			<ul class="cluster" role="list">
				{postTags.map(tag => (
					<li>
						<a href={`/tags/${tag}/`} rel="tag" data-astro-prefetch>
							{tag}
						</a>
					</li>
				))}
			</ul>
		</details>
	) : (
		<p class="post-tag-list">
			Tagged:
			{postTags.map(tag => (
				<a href={`/tags/${tag}/`} rel="tag">
					{tag}
				</a>
			))}
		</p>
	)
}
