---
import FormattedDate from '../components/FormattedDate.astro';

interface Post {
	slug: string;
	data: {
		title: string;
		pubDate: Date;
		draft: boolean;
	};
}

const {postsCollection} = Astro.props;
---

<div class="post-list-wrapper flow">
	<slot />
	<ol class="post-list flow flow-space-l" role="list" reversed>
		{
			postsCollection.map((post: Post) => (
				<li class="post-entry grid">
					<a
						class="text-pretty"
						href={`/blog/${post.slug}/`}
						data-draft={post.data.draft}
					>
						{post.data.title}
					</a>
					<div class="small-text">
						<FormattedDate date={post.data.pubDate} />
					</div>
				</li>
			))
		}
	</ol>
</div>
