---
import projects from '../data/projects.json';
import ProjectMockup from './ProjectMockup.astro';
---

<div class="project-showcase flow-space-l">
  <div>
    <ul class="project-list" role="list">
      {
        projects.map((project, index) => {
          let loadingValue: 'eager' | 'lazy';
          if (index < 3) {
            loadingValue = 'eager';
          } else {
            loadingValue = 'lazy';
          }
          return (
            <li class="project-item">
              <a class="project-link visually-hidden" href={project.url}>
                {project.title}
              </a>
              <ProjectMockup
                imagePath={`/src/images/projects/${project.image}`}
                alt=`Mockup of ${project.title}'s website displayed on an iPad Pro and an iPhone.`
                loading={loadingValue}
              />
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
