---
import slugify from 'slugify';
import FontStyle from '../components/FontStyle.astro';
import '../css/style.css';
import SkipToMain from '../components/SkipToMain.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SecondaryNav from '../components/SecondaryNav.astro';
import GetInTouch from '../components/GetInTouch.astro';
import SiteFooter from '../components/SiteFooter.astro';

interface Props {
	title: string;
	description?: string;
}

const {title, description} = Astro.props;

// Get the current URL object
const currentUrl = Astro.url;
const currentPathname = currentUrl.pathname;

const isDynamicRoute =
	(currentPathname.startsWith('/blog/') && currentPathname !== '/blog/') ||
	(currentPathname.startsWith('/tags/') && currentPathname !== '/tags/');

// Determine the OG image path
let ogImagePath;

if (isDynamicRoute) {
	ogImagePath = `/open-graph${Astro.url.pathname.slice(0, -1)}.png`;
} else {
	const slugifiedTitle = slugify(title, {lower: true});
	ogImagePath = `/open-graph/${slugifiedTitle}.png`;
}
---

<!doctype html>
<html lang="en">
	<head>
		<!-- FIXME: order of items in the head -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<!-- if js is available add class -->
		<!-- <script>
			document.documentElement.classList.add('has-js');
		</script> -->
		<FontStyle />
		<!-- script and font preloads -->
		<slot name="preloads" />
		<!-- meta information -->
		<meta property="og:site_name" content="Arpit Agrawal" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={ogImagePath} />
		<meta property="og:image:alt" content=`Page image for ${title}` />
		{!!description && <meta name="description" content={description} />}
		{!!description && <meta property="og:description" content={description} />}
		<meta name="theme-color" content="#0d0f12" />
		<!-- favicon -->
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="me" href="https://indieweb.social/@arpit" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Arpit Agrawal"
			href={`${Astro.site}rss.xml`}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<SkipToMain />
		<SiteHeader />
		<slot />
		<SecondaryNav />
		<GetInTouch />
		<SiteFooter />
	</body>
</html>
