---
import slugify from 'slugify';
import {AstroFont} from 'astro-font';
import '../css/style.css';
import SiteHeader from '../components/SiteHeader.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string;
}

const {title, description} = Astro.props;

// Get the current URL object
const currentUrl = Astro.url;
// Define a regular expression to match dynamic routes
const dynamicRoutePattern = /^\/(?:blog|tags)\/.+$/;
// Determine the OG image path
let ogImagePath;

// For dynamic routes like /blog/foo or /tags/dave
if (dynamicRoutePattern.test(currentUrl.pathname)) {
	// Extract the slug part after /blog/ or /tags/
	const slug = currentUrl.pathname.split('/').pop();
	ogImagePath = `/open-graph/${slug}.png`;
} else {
	// For static pages like /blog/ or /tags/ or others
	const pageTitle =
		Astro.props.title || currentUrl.pathname.slice(1).replace(/\/$/, '');
	// Fallback to pathname if no title

	const slugifiedTitle = slugify(pageTitle, {lower: true});
	ogImagePath = `/open-graph/${slugifiedTitle}.png`;
}
---

<!doctype html>
<html lang="en">
	<head>
		<!-- FIXME: order of items in the head -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<AstroFont
			config={[
				{
					name: 'Geist',
					src: [
						{
							style: '',
							weight: '100 900',
							path: './public/fonts/GeistVF.woff2'
						}
					],
					preload: true,
					display: 'swap',
					selector: 'body',
					cssVariable: 'font-base',
					fallback: 'sans-serif',
					fallbackName: 'Geist Fallback'
				}
			]}
		/>
		<slot name="preloads" />
		{description && <meta name="description" content={description} />}
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta property="og:site_name" content="Arpit Agrawal" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={currentUrl} />
		<meta property="og:image" content={ogImagePath} />
		<meta property="og:image:alt" content=`Page image for ${title}` />
		<meta name="theme-color" content="#121210" />
		<link rel="me" href="https://indieweb.social/@arpit" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Arpit Agrawal"
			href={`${Astro.site}rss.xml`}
		/>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<SiteHeader />
		<slot />
		<Footer />
	</body>
</html>
