---
import {AstroFont} from 'astro-font';
import '../css/style.css';
import {ViewTransitions} from 'astro:transitions';
import SiteHeader from '../components/SiteHeader.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string;
}

const {title, description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- FIXME: order of items in the head -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<AstroFont
			config={[
				{
					name: 'Geist',
					src: [
						{
							style: '',
							weight: '100 900',
							path: './public/fonts/GeistVF.woff2'
						}
					],
					preload: true,
					display: 'swap',
					selector: 'body',
					cssVariable: 'font-base',
					fallback: 'sans-serif',
					fallbackName: 'Geist Fallback'
				}
			]}
		/>
		<slot name="preloads" />
		{description && <meta name="description" content={description} />}
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta property="og:image" content="/og.jpeg" />
		<meta property="og:image:alt" content="Site image for Arpit Agrawal" />
		<meta name="theme-color" content="#121210" />
		<link rel="me" href="https://indieweb.social/@arpit" />
		<ViewTransitions />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<SiteHeader />
		<slot />
		<Footer />
		<script>
			import type {TransitionBeforeSwapEvent} from 'astro:transitions/client';
			document.addEventListener('astro:before-swap', e =>
				[
					...(e as TransitionBeforeSwapEvent).newDocument.head.querySelectorAll(
						'link[as="font"]'
					)
				].forEach(link => link.remove())
			);
		</script>
	</body>
</html>
